body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*----------------------------------------------------*/

/*.article-tiles-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px;
  justify-content: flex-start;
}

.articles-page {
  background: #f4f3f1;
}*/

.grid {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 15px;
}
@media screen and (min-width: 500px) {
  .grid {
    grid-template-columns: 2fr 4fr;
  }
}
@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: 2fr 4fr 3fr;
  }
}
.grid__item {
  height: 300px;
  width: 100%;
}

.heading-primary {
  text-transform: uppercase;
  margin: 12px auto;
  font-size: 36px;
  text-align: center;
}

.heading-secondary {
  color: #444;
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


.card {
  box-shadow: #adb5bd 0px 10px 20px -10px;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  position: relative;
  cursor: pointer;
}

.card__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card__caption {
  position: absolute;
  padding: 16px;
} h2 {
  font-size: 20px;
  color: #444 ;
  text-align: center;
} p {
  font-size: 14px;
  color:#444;
  text-align: justify;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  opacity: 0;
  visibility: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  transition: all 0.3s ease-in;
}

.modal--open {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.modal__box {
  background-color: white;
  border-radius: 8px;
  max-width: 750px;
  width: 100%;
  height: 550px;
  min-height: 300px;
  position: relative;
  overflow: auto;
}

.modal__times {
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  right: 15px;
}

.modal__img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  min-height: 300px;
  height: 300px;
}

.modal__txt {
  text-align: justify;
  vertical-align: top;
  color: #343a40;
  padding: 10px 24px;
}

.modal__txt p {
  line-height: 1.7;
}

.modal__heading {
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 800px) {
  .modal__box {
    width: 100%;
    padding: 20px;
    margin: 0 12px;
  }
  .modal__img, .modal__txt {
    width: 100%;
    margin: 0;
  }
  .modal__img {
    margin-top: 25px;
  }
}


