.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-container > div {
  padding-top: 10px;
}
.paginate {
  display: flex;
}
.paginate-effect {
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 5px;
  text-decoration: none;
}

.paginate-effect:hover {
  text-decoration: none;
  color: blue;
}
.paginate-effect:hover a {
  text-decoration: none;
  color: #fff;
}

.active {
  color: blue;
}
a:link {
  text-decoration: none;
  color: #dd4124;
}

